@model Nware_Blog_API.Models.HomePageLists

<div class="col-md-12">
    <div class="col-md-6">
        <h1 style="margin-top:0px">
            Categories
        </h1>
    </div>

    <div class="col-md-3">
        <button class="btn btn-default btn-block btn-margin" onclick="window.location.href='/ManageCategory/AddCategory'">Add</button>
    </div>

    <table class="table-striped col-md-12">
        @foreach (var category in Model.categories)
        {
            <tr>
                <td class="col-md-12">
                    @Html.ActionLink(category.title.ToString(), "EditCategory", "ManageCategory", new { id = category.id }, new { id = category.id })
                </td>
            </tr>
        }
    </table>

</div>
<div class="col-md-12">
    <div class="col-md-6">
        <h1 style="margin-top:0px">
            Posts
        </h1>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default btn-block" onclick="window.location.href='/ManagePost/AddPost'">Add</button>
    </div>

    <table class="table-striped col-md-12">
        @foreach (var post in Model.posts)
        {
            <tr>
                <td class="col-md-12">
                    @Html.ActionLink(post.title.ToString(), "EditPost", "ManagePost", new { id = post.id }, new { id = post.id })
                </td>
            </tr>
        }
    </table>
</div>